.button {
	@apply flex box-border items-center justify-center py-2 px-4 bg-primary cursor-pointer text-lg font-bold gap-3 ease-in duration-150;

	&:hover {
		background-color: $bg-primary-hover;
	}

	&:disabled {
		opacity: 0.3;
	}

	.loader > div {
		@apply bg-gray-600;
	}
}

.button_disabled {
	@apply bg-gray-400;
}

.round {
	border-radius: 3px;
}
