.item {
	@apply mb-4 flex items-stretch;

	a {
		flex: 0 0 65px;
		height: 97px;
		img {
			@apply rounded-image;
			transition: box-shadow 0.3s ease;
		}

		@media (min-width: $tablet) {
			&:hover {
				img {
					box-shadow: 0 0 12px 2px $primary;
				}
			}
		}
	}

	.info {
		@apply ml-4 flex flex-col justify-between;

		.title {
			@apply text-white text-lg font-medium truncate;
		}

		.genres {
			@apply text-gray-500 text-sm;
			@media (min-width: $tablet) {
				> a {
					transition: color 0.3s ease;
				}
				> a:hover {
					color: $primary;
				}
			}
		}
	}
}
